---
layout: ""
page_title: "Provider: PlanetScale"
description: |-
  Unofficial PlanetScale provider
---

# PlanetScale Provider

Unofficial [PlanetScale](https://planetscale.com) provider built out of curiosity.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
